@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

/* catppuccin macchiato colors */
:root {
  --ctp-base: #24273a;
  --ctp-mantle: #1e2030;
  --ctp-crust: #181926;
  --ctp-surface-0: #363a4f;
  --ctp-surface-1: #494d64;
  --ctp-surface-2: #5b6078;
  --ctp-text: #cad3f5;
  --ctp-mauve: #c6a0f6;
  --ctp-sky: #91d7e3;
  --ctp-lavender: #b7bdf8;
  --ctp-blue: #8aadf4;
}

body {
  background-color: var(--ctp-base);
  color: var(--ctp-text);
  font-family: "JetBrains Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  min-height: 100vh;
  justify-content: center;
  text-align: center;
  align-self: center;
}

h1 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  margin: 0.5em 0;
}

h2 {
  font-size: clamp(1.2rem, 4vw, 2rem);
  margin: 0.5em 0;
}

h3 {
  font-size: clamp(1rem, 3.5vw, 1.75rem);
  margin: 0.5em 0 0.3em;
}

ul {
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding-left: 1.5rem;
  display: inline-block;
  text-align: left;
}

/* Responsive font sizes */
@media (width <= 768px) {
  body {
    font-size: 14px;
  }

  header {
    font-size: 1.1em;
  }
}

header,
footer {
  background-color: var(--ctp-crust);
  padding: 1rem;
}

header {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

footer {
  margin-top: 20px;
}

a {
  color: var(--ctp-blue);
}

a:visited {
  color: var(--ctp-mauve);
}

/* Specific styling */

.version-changelog {
  border-radius: 25px;
  border: 2px solid var(--ctp-lavender);
  background-color: var(--ctp-mantle);
  margin: 20px;
  padding: 10px;
  box-shadow: 5px 5px 10px var(--ctp-crust);
}

.about-me {
  border-radius: 30px;
  border: 2px solid var(--ctp-lavender);
  background-color: var(--ctp-surface-0);
  margin: 4px;
  padding: 10px;
  max-width: 50vw;
}

.title {
  margin: 0;
}
