@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* catppuccin macchiato colors */
:root {
  --ctp-base: #24273a;
  --ctp-surface-0: #363a4f;
  --ctp-text: #cad3f5;
  --ctp-mauve: #c6a0f6;
  --ctp-sky: #91d7e3;
  --ctp-lavender: #b7bdf8;
  --ctp-blue: #8aadf4;
}

body {
  background-color: var(--ctp-base);
  color: var(--ctp-text);
  font-family: "JetBrains Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

header, footer {
  background-color: var(--ctp-surface-0);
}

header {
  font-size: 1.3em;
  font-weight: 600;
}

a {
  color: var(--ctp-blue);
}

a:visited {
  color: var(--ctp-mauve);
}
