/* catppuccin macchiato colors */
:root {
  --ctp-base: #24273a;
  --ctp-surface-0: #363a4f;
  --ctp-text: #cad3f5;
  --ctp-mauve: #c6a0f6;
  --ctp-sky: #91d7e3;
  --ctp-lavender: #b7bdf8;
  --ctp-blue: #8aadf4;
}

body {
  background-color: var(--ctp-base);
  color: var(--ctp-text);
  font-family: sans-serif;
}

footer {
  background-color: var(--ctp-surface-0);
}

a {
  color: var(--ctp-blue);
}

a:visited {
  color: var(--ctp-mauve);
}
