/* catppuccin macchiato colors */
:root {
  --ctp-background: #24273a;
  --ctp-text: #cad3f5;
  --ctp-mauve: #c6a0f6;
  --ctp-sky: #91d7e3;
  --ctp-lavender: #b7bdf8;
  --ctp-blue: #8aadf4;
}

html {
  background-color: var(--ctp-background);
}
